.wrapper-main{:style => "width: 12000px;"}
  = render 'home'
  = render 'marca'
  = render 'comunidad'
  = render 'foodservice'
  = render 'preguntaleayaz'
  = render 'basicos'
  = render 'recetas'
  = render 'reto'
  = render 'recomendada'

%footer
