<div class="block">
<div class="container_categoria_recetas">
<%= link_to(image_tag('mobile/botanas_btn.png', class: 'menu-icon', size: '93x89'), mobile_recetas_path(:botanas)) %>
    <%= link_to(image_tag('mobile/sopas_btn.png', class: 'menu-icon', size: '93x89'), mobile_recetas_path(:sopas)) %>
    <%= link_to(image_tag('mobile/pastas_btn.png', class: 'menu-icon', size: '93x89'), mobile_recetas_path(:pasta)) %>
    <%= link_to(image_tag('mobile/fuertes_btn.png', class: 'menu-icon', size: '93x89'), mobile_recetas_path(:platos_fuertes)) %>
    <%= link_to(image_tag('mobile/postres_btn.png', class: 'menu-icon', size: '93x89'), mobile_recetas_path(:postres)) %>
</div>
</div>